<div class="d-flex, flex-column, align-items-center">
    <h3 class="mt-5">Carga de productos</h3>
    <form class="w-50, mt-5, text-left" method="POST" action="/productos">
        <div class="mb-3">
            <label for="title" class="form-label">Titulo</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Descripcion</label>
            <input type="text" class="form-control" id="description" name="description">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Precio</label>
            <input type="text" class="form-control" id="price" name="price">
        </div>
        <div class="mb-3">
            <label for="thumbnail", class="form-label">URL</label>
            <input type="text" class="form-control" id="thumbnail" name="thumbnail">
        </div>
        <button type="submit" class="btn btn-primary">Cargar</button>
    </form>
</div>