form(class="p-5" method="post" action="/productos")
    div(class="mb-3")
        label(for="title" class="form-label") Nombre
        input(type="text" class="form-control" id="title" name="title")
    div(class="mb-3")
        label(for="description" class="form-label") Descripcion
        input(type="text" class="form-control" id="description" name="description")
    div(class="mb-3")
        label(for="url" class="form-label") URL Imagen
        input(type="text" class="form-control" id="url" name="url")
    div(class="mb-3")
        label(for="price" class="form-label") Precio
        input(type="text" class="form-control" id="price" name="price")
    button(type="submit" class="btn btn-primary") Cargar